<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />

@model Websitedierentuin1.Models.Person

<body>

    <div class="container">
        @{
        ViewData["Title"] = "Neem Contact Op";
        }
        <h1>@ViewData["Title"]</h1>

        <p>Voel je vrij om contact met ons op te nemen <br>Om uw ervaring te delen of vragen te stellen!</p>
        <div class= "contact-box">
            <div class="contact-left">
                <h3>Stel Een Vraag</h3>

                <form method="post" class="contactform">
                   <div class="input-row">
                    <div class="input-group">
                        @Html.LabelFor(m => m.voornaam)
                        @Html.TextBoxFor(m => m.voornaam) 
                        @Html.ValidationMessageFor(m => m.voornaam)
                        
                    </div>

                    <div class="input-group">
                        @Html.LabelFor(m => m.achternaam)
                        @Html.TextBoxFor(m => m.achternaam)
                        @Html.ValidationMessageFor(m => m.achternaam)
                    </div>
                   </div>
                   <div class="input-row">
                    <div class="input-group">
                        @Html.LabelFor(m => m.email)
                        @Html.TextBoxFor(m => m.email)
                        @Html.ValidationMessageFor(m => m.email)
                    </div>

                    <div class="input-group">
                        @Html.LabelFor(m => m.onderwerp)
                        @Html.TextBoxFor(m => m.onderwerp)
                        @Html.ValidationMessageFor(m => m.onderwerp)
                    </div>
                   </div>

                   <label>Bericht</label>
                   <textarea rows="5" placeholder="Uw Bericht..."></textarea>

                    <button type="submit">Verstuur</button>

                </form>
            </div>
            <div class="contact-right">
                <h3>Onze Gegevens</h3>


                <table>
                    <tr>
                        <td>Email</td>
                        <td>DierentuinMonki@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Telefoonnummer</td>
                        <td>+31 6 42 06 96 69</td>
                    </tr>
                    <tr>
                        <td>Adres</td>
                        <td>Poelplaskade 251, Friesland</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

</body>